@import "../../../../_theme_variables";

#fb-root {
	display:none;
	visibility:hidden;	
}
.socialfeedblock > span, .socialfeedblock > iframe, .socialfeedblock > div {
	vertical-align:top;	
}

.instagram-widget {
    
	overflow:hidden;
    background-color: transparent !important;
    border: none !important;
}
.instagram-widget a.title:link, .instagram-widget a.title:visited  {
	display:block;
	height:33px;
	background:none;
	text-decoration:none;
}
.instagram-widget .title .icon{
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin:4px 10px 0 5px;
    display: none;
}
.instagram-widget .title .text {
	float:left;
	height:25px;
	overflow:hidden;
	margin:5px 0 0 0;
	color:#FFF;
	font-size:16px;
	white-space:nowrap;
    text-transform: uppercase;
    font-family: $font-custom;
    font-weight: 400;
} 
.instagram-widget .data{
	text-align:left;
	margin:0px;
    padding:0 0 43px 0;
	overflow:hidden;
    margin-top: 28px;
}
.instagram-widget .data a {
	display:block;
	float:left;
	margin:0 30px 5px 0;
	width:170px;
	height:170px;
	overflow:hidden;
	border:0px solid #FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	ling-height:0px;
    &:last-child{
        margin-right: 0;
    }
    @media(max-width: 1199px)and(min-width: 992px){
        margin: 0 5px 5px 0;
        width: 152px;
        height: 152px;
    }
    @media (max-width:479px){
        width: 50% !important;
    }
    @media(max-width: 991px){
        margin: 0 16px 16px 0px;
        width: 164px;
        height: 164px;
    }
    @media (max-width:768px){
        margin: 0;
        width: 33%;
        height: auto;
        padding: 10px;
    }
    position: relative;
    &:before{
        content:"\e315";
        font-family: $flat-icon;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(#50db69,0.88);
        text-align: center;
        bottom: 0px;
        left: -100%;
        font-size: 34px;
        color:#FFF;
        padding: 68px 0px;
        vertical-align: middle;
        @include transition(.3s);
        @media (max-width:768px){
            width: auto;
            height: auto;
            top: 10px;
            bottom: 10px;
            padding: 0;
            padding-top: 46%;
        }
    }
}
.instagram-widget .data a img{ 
    width:170px;
    @media (max-width:768px){
        width: 100%;
    }
}
.instagram-widget .data a:hover {
    &:before{
        left: 0;
        @media (max-width:768px){ 
            left: 10px;
            right: 10px;
        }
        
        @include transition(.3s);
    }
}
.instagram-widget .empty {
	text-align:center;
	margin:10px 0 10px 0;
}
@media only screen and (max-width:1199px) {
	.socialfeedblock.home .hook_home > div > div {
		max-width:100%;
		margin:0 auto;
		padding-bottom:10px;
	}
	.socialfeedblock.home .hook_home div.item_3 {
		clear:left;	
	}
}
.socialfeedblock.home {padding-bottom:20px; margin-bottom:0;}
.socialfeedblock.home h4 {
	margin:20px 0;
	text-align:center;
	border:none;
	padding:0;
	line-height:43px;
}
.socialfeedblock.home h4:after {display:none;}
.socialfeedblock.home .tmsocials_button {
	display:block;
	width:100%;
	background:#f6f6f6;
	border-bottom:3px solid #e9e9e9;
}
.socialfeedblock.home .tmsocials_button:after {	
	content:'\f107';
	font-family:'FontAwesome';
	padding-left:10px;
	font-size:22px;
}
.socialfeedblock.home .tmsocials_button.active:after {	
	content:'\f106';
}

.socialfeedblock .hook_right_column > div, .socialfeedblock .hook_left_column > div{
	padding-bottom:15px;
}
.socialfeedblock.footer{
    padding-top: 80px;
}