.top_menu {
  clear: both;
  float: none;
  font-family: "Roboto", sans-serif; }

.top_menu_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 0;
  background: #000000;
  clear: both; }
  @media (max-width: 767px) {
    .top_menu_wrapper {
      position: relative; } }

.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0; }
  .stickUpTop.isStuck {
    background: #000; }
    .stickUpTop.isStuck .stickUpHolder > ul > li > a {
      padding: 15px 20px; }
    .stickUpTop.isStuck .stickUpHolder .menu_badge {
      left: 2px;
      top: 2px;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.stickUpHolder {
  padding: 0;
  max-width: 100%; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px;
    background: #000000; } }
.top_menu > ul, .top_menu .stickUpHolder > ul {
  padding: 0;
  margin-bottom: 0; }
  .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
    float: left; }
    .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
      display: block;
      padding: 10px;
      border-left: 0;
      color: #FFF;
      font: 600 18px/22px "Roboto", sans-serif;
      padding: 19px 20px;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      z-index: 1;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background: #000; }
    .top_menu > ul > li:hover > a, .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover, .top_menu .stickUpHolder > ul > li:hover > a, .top_menu .stickUpHolder > ul > li.sfHover > a, .top_menu .stickUpHolder > ul > li.sfHoverForce > a, .top_menu .stickUpHolder > ul > li > a:hover {
      color: #FFF;
      background: #50da69; }
    .top_menu > ul > li:hover > span.menu-mobile-grover:before, .top_menu .stickUpHolder > ul > li:hover > span.menu-mobile-grover:before {
      color: #fff; }
    @media only screen and (min-width: 768px) {
      .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
        display: none;
        width: 280px;
        top: -1px;
        right: -320px;
        position: absolute;
        z-index: 99;
        background: #fff; }
        .top_menu > ul > li ul.is-simplemenu.right_side, .top_menu > ul > li ul.is-simplemenu ul.right_side, .top_menu .stickUpHolder > ul > li ul.is-simplemenu.right_side, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul.right_side {
          left: -320px; } }
    @media (max-width: 991px) {
      .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
        width: 240px;
        right: -280px; }
        .top_menu > ul > li ul.is-simplemenu.right_side, .top_menu > ul > li ul.is-simplemenu ul.right_side, .top_menu .stickUpHolder > ul > li ul.is-simplemenu.right_side, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul.right_side {
          left: -280px; } }
    @media only screen and (max-width: 767px) {
      .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
        background: #fff;
        width: 100%;
        position: relative;
        top: 0px !important;
        right: auto;
        left: auto; } }
    .top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
      right: auto;
      left: 0;
      top: 60px;
      padding: 20px;
      -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); }
      .top_menu > ul > li > ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu ul {
        -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
        padding: 20px; }
      .top_menu > ul > li > ul.is-simplemenu li a, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu li a {
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
        padding-left: 30px;
        color: #333;
        text-transform: uppercase; }
        .top_menu > ul > li > ul.is-simplemenu li a:hover, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu li a:hover {
          color: #50da69; }
        .top_menu > ul > li > ul.is-simplemenu li a:before, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu li a:before {
          content: "\e5cc";
          font-family: "Material Icons";
          font-size: 27px;
          color: #50da69;
          position: absolute;
          left: -5px; }
    @media only screen and (max-width: 767px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        width: 100%;
        float: none;
        position: relative; }
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          border-right: none; } }
.top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
      display: none; } }
.top_menu li.megamenu_banner, .top_menu .stickUpHolder li.megamenu_banner {
  position: relative; }
  @media (max-width: 767px) {
    .top_menu li.megamenu_banner, .top_menu .stickUpHolder li.megamenu_banner {
      margin-top: 30px;
      display: block;
      clear: both; } }
  .top_menu li.megamenu_banner a, .top_menu .stickUpHolder li.megamenu_banner a {
    border-bottom: 0 !important;
    padding-bottom: 0 !important; }
    .top_menu li.megamenu_banner a:hover img, .top_menu .stickUpHolder li.megamenu_banner a:hover img {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .top_menu li.megamenu_banner img, .top_menu .stickUpHolder li.megamenu_banner img {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .top_menu li.megamenu_banner .description, .top_menu .stickUpHolder li.megamenu_banner .description {
    width: 60%;
    position: absolute;
    top: 0;
    right: 15px;
    padding-right: 10px;
    padding-top: 30px; }
    .top_menu li.megamenu_banner .description h3, .top_menu .stickUpHolder li.megamenu_banner .description h3 {
      color: #FFF;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 36px;
      font-family: "Montserrat", sans-serif; }
      @media (max-width: 767px) {
        .top_menu li.megamenu_banner .description h3, .top_menu .stickUpHolder li.megamenu_banner .description h3 {
          display: none; } }
    .top_menu li.megamenu_banner .description button, .top_menu .stickUpHolder li.megamenu_banner .description button {
      margin-top: 22px;
      text-transform: uppercase;
      color: #FFF;
      font-size: 16px;
      background: #50db69;
      border: none;
      outline: none;
      padding: 14px 19px;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .top_menu li.megamenu_banner .description button:hover, .top_menu .stickUpHolder li.megamenu_banner .description button:hover {
        background: #151215;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      @media (max-width: 1199px) {
        .top_menu li.megamenu_banner .description button, .top_menu .stickUpHolder li.megamenu_banner .description button {
          display: none; } }
    .top_menu li.megamenu_banner .description p, .top_menu .stickUpHolder li.megamenu_banner .description p {
      color: #FFF;
      font-size: 17px;
      font-weight: 300;
      line-height: 31px;
      text-transform: none; }
      @media (max-width: 991px) {
        .top_menu li.megamenu_banner .description p, .top_menu .stickUpHolder li.megamenu_banner .description p {
          display: none; } }
.top_menu li a, .top_menu .stickUpHolder li a {
  position: relative; }
.top_menu li.simple, .top_menu li li, .top_menu .stickUpHolder li.simple, .top_menu .stickUpHolder li li {
  position: relative; }
.top_menu li li a, .top_menu .stickUpHolder li li a {
  display: block;
  padding: 5px 0px; }
.top_menu li li.sfHover > a, .top_menu li li:hover > a, .top_menu li li.sfHoverForce > a, .top_menu .stickUpHolder li li.sfHover > a, .top_menu .stickUpHolder li li:hover > a, .top_menu .stickUpHolder li li.sfHoverForce > a {
  color: #f00; }
.top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
  position: absolute;
  left: 23px;
  top: 5px;
  z-index: 2;
  font-size: 12px;
  display: inline-block;
  background: #fFF;
  color: #777777;
  padding: 1px 2px 2px 2px;
  line-height: 9px;
  text-transform: lowercase;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  @media only screen and (max-width: 767px) {
    .top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
      right: auto;
      left: 5px; } }
.top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
  width: 100%;
  padding: 47px;
  background: #fff;
  display: none;
  -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 768px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      position: absolute;
      top: 60px;
      left: 0; } }
  .top_menu .is-megamenu .megamenu-row + .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row + .megamenu-row {
    border-top: 1px solid #ccc; }
  .top_menu .is-megamenu .megamenu-row-2, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 {
    background: #f8f8f8; }
  .top_menu .is-megamenu li li, .top_menu .stickUpHolder .is-megamenu li li {
    padding-left: 10px; }
  .top_menu .is-megamenu ul.content > li > a, .top_menu .stickUpHolder .is-megamenu ul.content > li > a {
    font: 600 18px/22px "Roboto", sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-left: 0;
    border-bottom: 3px solid #ebebeb;
    margin-bottom: 20px; }
    .top_menu .is-megamenu ul.content > li > a:hover, .top_menu .stickUpHolder .is-megamenu ul.content > li > a:hover {
      color: #50da69; }
  .top_menu .is-megamenu ul.content ul, .top_menu .stickUpHolder .is-megamenu ul.content ul {
    opacity: 1 !important;
    display: block !important; }
    .top_menu .is-megamenu ul.content ul > li, .top_menu .stickUpHolder .is-megamenu ul.content ul > li {
      padding-left: 0; }
      .top_menu .is-megamenu ul.content ul > li a, .top_menu .stickUpHolder .is-megamenu ul.content ul > li a {
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
        padding-left: 30px;
        color: #333;
        text-transform: uppercase; }
        .top_menu .is-megamenu ul.content ul > li a:hover, .top_menu .stickUpHolder .is-megamenu ul.content ul > li a:hover {
          color: #50da69; }
        .top_menu .is-megamenu ul.content ul > li a:before, .top_menu .stickUpHolder .is-megamenu ul.content ul > li a:before {
          content: "\e5cc";
          font-family: "Material Icons";
          font-size: 27px;
          color: #50da69;
          position: absolute;
          left: -5px; }
.top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
  position: relative;
  background: #F6F6F6;
  border-bottom: 3px solid #e9e9e9;
  padding: 17px 20px;
  font: 600 18px/22px "Roboto", sans-serif;
  color: #484848;
  text-transform: uppercase;
  cursor: pointer; }
  .top_menu .menu-title:hover, .top_menu .stickUpHolder .menu-title:hover {
    background: #333333;
    color: #fff;
    border-bottom-color: #666666; }
  .top_menu .menu-title:after, .top_menu .stickUpHolder .menu-title:after {
    position: absolute;
    content: "\f067";
    font-family: 'FontAwesome';
    height: 30px;
    width: 30px;
    font-size: 26px;
    top: 20px;
    right: 6px;
    cursor: pointer;
    z-index: 1; }
  .top_menu .menu-title.active:after, .top_menu .stickUpHolder .menu-title.active:after {
    content: "\f068"; }
  @media only screen and (min-width: 768px) {
    .top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
      display: none; } }
.top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
  position: absolute;
  content: "\f067";
  font-family: 'FontAwesome';
  height: 30px;
  width: 30px;
  font-size: 26px;
  top: 20px;
  right: 6px;
  cursor: pointer;
  z-index: 2; }
  @media only screen and (min-width: 768px) {
    .top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
      display: none; } }
.top_menu .menu-mobile-grover.active:before, .top_menu .stickUpHolder .menu-mobile-grover.active:before {
  content: "\f068"; }
@media only screen and (max-width: 767px) {
  .top_menu .is-simplemenu li, .top_menu .stickUpHolder .is-simplemenu li {
    border-top: 1px solid #ccc; }
    .top_menu .is-simplemenu li .menu-mobile-grover:before, .top_menu .stickUpHolder .is-simplemenu li .menu-mobile-grover:before {
      top: 8px;
      right: 0;
      font-size: 18px; }
    .top_menu .is-simplemenu li a, .top_menu .stickUpHolder .is-simplemenu li a {
      display: block;
      font-size: 14px;
      padding: 8px 10px; }
    .top_menu .is-simplemenu li li a, .top_menu .stickUpHolder .is-simplemenu li li a {
      padding-left: 20px; }
    .top_menu .is-simplemenu li li li a, .top_menu .stickUpHolder .is-simplemenu li li li a {
      padding-left: 30px; }
    .top_menu .is-simplemenu li li li li a, .top_menu .stickUpHolder .is-simplemenu li li li li a {
      padding-left: 40px; }
  .top_menu li.simple ul, .top_menu .stickUpHolder li.simple ul {
    display: none; }
  .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
    float: left;
    width: 50%; }
    .top_menu .megamenu-col.col-sm-3.first-in-line-sm, .top_menu .stickUpHolder .megamenu-col.col-sm-3.first-in-line-sm {
      clear: left; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
      float: none; } }

@media (max-width: 479px) {
  .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
    width: 100%; } }

.red {
  background: #f00; }

/**** Left/Right column menu ****/
.left_column_menu .block_content li, .right_column_menu .block_content li {
  position: relative; }
.left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
  display: none; }
  @media only screen and (min-width: 768px) {
    .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999; } }
  @media only screen and (max-width: 767px) {
    .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
      border-top: 1px solid #ccc;
      position: relative; }
      .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative; }
      .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px; } }
.left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
  border-top: 1px solid #ccc;
  position: relative; }
  .left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
    display: block;
    padding: 10px 0;
    position: relative; }
  .left_column_menu .block_content > ul > li:first-child, .right_column_menu .block_content > ul > li:first-child {
    border: none; }
.left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
  font-size: 10px;
  display: inline-block;
  background: #f00;
  color: #fff;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  border-radius: 3px;
  margin-left: 10px; }
.left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
  padding: 4px 5px;
  display: block; }
.left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
  display: none; }
  .left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
    display: block !important;
    opacity: 1 !important; }
    .left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
      font-weight: bold;
      text-transform: uppercase; }
    .left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
      padding-left: 5px; }
  @media only screen and (min-width: 768px) {
    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
      width: 50%;
      float: left; }
      .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left; } }
.left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
  content: "\f067";
  font-family: 'FontAwesome';
  z-index: 1;
  cursor: pointer; }
.left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
  content: "\f068"; }

.left_column_menu li.simple ul {
  right: -200px; }

.right_column_menu li.simple ul {
  left: -200px; }

.left_column_menu div.is-megamenu {
  right: -600px; }

.right_column_menu div.is-megamenu {
  left: -600px; }

/*# sourceMappingURL=tmmegamenu.css.map */
